<div id="pints">
  <% @pints.each do |pint| %>
    <div class="box">
      <%= image_tag pint.image.url(:medium) %>
      <%= pint.description %>
      <%= pint.user.email if pint.user %>
      <%= link_to 'Show', pint_path(pin) %>
      <% if pint.user == current_user %>
        <%= link_to 'Edit', edit_pint_path(pin) %>
        <%= link_to 'Destroy', pint, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% end %>
</div>
